body {
    background-color: #6C7A89;
    color: #fff;
}

.well {
    color: #6C7A89;
}

#stockChart {
    padding-right: 40px;
    padding-left: 10px;
    max-height: 500px;
}

.btn-add {
    background-color: #D35400;
}

.btn-add:hover {
    background-color: #F9690E;
    color: #ffffff;
}

.btn-xs {
    margin-right: 5px;
}