body {
    background-color: #6C7A89;
    color: #fff;
}

.well {
    color: #6C7A89;
}

#stockChart {
    padding-right: 40px;
    padding-left: 10px;
    max-height: 500px;
}

.btn-add {
    background-color: #BDC3C7;
}

.btn-add:hover {
    background-color: #DADFE1;
    color: #ffffff;
}

.btn-add:focus {
    background-color: #BDC3C7;
    color: #ffffff;
    outline: none;
}

.btn-xs {
    margin-right: 5px;
}